$sm-screen : 395px;
$md-screen : 900px;
$l-screen : 1536px;


// colors

$black : rgb(13, 13, 13);
$dark-gray  : rgb(71, 71, 71);
$light-gray :  rgb(180, 180, 180);
$red : #ff6969e6;

body {
  margin: 0;
  background-color: rgba(255, 255, 255, 0.341);
  overflow-x : hidden
}

*{
  padding: 0;
}

.profile-page{

  margin: 0;
  background-color: rgb(255, 255, 255);
  height : 100vh;
  width : 100vw;
  overflow: auto;

}

.slide-right {
  animation: 0.2s slide-right;
}
@keyframes slide-right {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}

.slide-left {
  animation: 0.2s slide-left;
}

@keyframes slide-left {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}

.add-media-card{
  width: 58px;
  margin : 4px;
  height: 58px;
  border-radius: 5px;
}
